@{
    ViewBag.Title = "Home Page";
}
<div class="complex" id="indexcommuntity">
    <a href="@Url.Action("Location","Home")">
        <span>长原小区</span>
        <img src="/Content/images/liu_14.png">
    </a>
</div>

<div class="content browser_content">
    <ul class="product_menu">
        <li>
            <a href="javascript:void(0)" class="now_product" tip="#shoplist">
                <i></i>
                <img src="/content/images/f1.jpg">
                <span>菜场</span>
            </a>
        </li>
        <li>
            <a id="fruiticon" href="javascript:void(0)" tip="#fruitlist">
                <i></i>
                <img src="/content/images/f2.jpg">
                <span>水果</span>
            </a>
        </li>
        <li>
            <a id="snackicon" href="javascript:void(0)" tip="#snacklist">
                <i></i>
                <img src="/content/images/f3.jpg">
                <span>小吃</span>
            </a>
        </li>
        <li>
            <a id="marketicon" href="javascript:void(0)" tip="#marketlist">
                <i></i>
                <img src="/content/images/f4.jpg">
                <span>超市</span>
            </a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="shop_group">
        <ul class="producter_con" id="shoplist" style="display:block;"></ul>
        <div id="fruitlist" style="display:none;">
            <ul class="producter_con_shop">
                <div class="clear"></div>
            </ul>
            <div class="car_shop">
                <a href="@Url.Action("Car","Shop")"><img src="/content/images/s_27.png"><span class="shopcartNumber">1</span></a>
            </div>
        </div>
        <div id="snacklist" style="display:none;">
            <ul class="producter_con_shop">
                <div class="clear"></div>
            </ul>
            <div class="car_shop">
                <a href="@Url.Action("Car", "Shop")"><img src="/content/images/s_27.png"><span class="shopcartNumber">1</span></a>
            </div>
        </div>
        <div id="marketlist" style="display:none;">
            <ul class="producter_con_shop">
                <div class="clear"></div>
            </ul>
            <div class="car_shop">
                <a href="@Url.Action("Car", "Shop")"><img src="/content/images/s_27.png"><span class="shopcartNumber">1</span></a>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="/Scripts/common.js"></script>
    <script type="text/javascript" src="/Scripts/windowsheight.js"></script>
    <script src="~/Scripts/template.js"></script>
    <script type="text/html" id="shopitem">
        {{each content as item index}}
        <li data-gpsx="{{item.gpsX}}" data-gpsy="{{item.gpsY}}">
            <div class="producter_row">
                <a href="@Url.Action("Index", "Shop")?cataid=81&merchantsid={{item.id}}">
                    <img class="fl shoper_img" src="{{item.image}}">
                    <div class="shoper_mess fl">
                        <p>{{item.merchantsName}}<i>配</i></p>
                        <div class="saled_order" data-num="{{item.evaluationNum}}">
                            <img src="/content/images/liu_23.png" class="star">
                            <img src="/content/images/liu_23.png" class="star">
                            <img src="/content/images/liu_23.png" class="star">
                            <img src="/content/images/liu_23.png" class="star">
                            <img src="/content/images/liu_23.png" class="star">
                            已售{{item.orderNum}}单
                        </div>
                        <span>{{item.address}} | {{item.productType}}</span>
                    </div>
                    <div class="distance fl"><p>{{item.distance}}</p></div>
                    <div class="clear"></div>
                </a>
            </div>
        </li>
        {{/each}}
    </script>
    <script type="text/html" id="productitem">
        {{each content as item index}}
        <li>
            <a href="#" value="{{item.id}}" style="border-right-width: 1px; border-right-style: solid; border-right-color: rgb(255, 255, 255);">
                <img src="{{item.image}}" class="fruit_img">
                <p>
                    <span class="fr">
                        <i class="weight">{{item.weight}}{{item.unit}}</i>/份
                    </span>
                    <i>{{item.name}}</i>
                </p>
                <div class="product_price">
                    <img src="/content/images/car_07.jpg">
                    <i>￥{{item.price}}</i>
                    <span>￥{{item.marketPrice}}</span>
                </div>
            </a>
        </li>
        {{/each}}
    </script>
    <script src="~/Scripts/Index.js?t=20150720"></script>
    <script>
        var index = new IndexPage({
            indexcommuntityUrl: "/weixin/community/index_community.jhtml",
            communtityListUrl: "/weixin/community/list.jhtml",
            merchantsList: "/weixin/merchants/list.jhtml?communityId=",
            productlist: "/weixin/product/list/{cata}.jhtml",
            ShopCarCount: "/weixin/cart/quantity.jhtml",
            addcar: "/weixin/cart/add.jhtml",
        });
        index.RegisterIndex();
    </script>
}
