<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>么么达</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    <!-----------头部开始--------------->
    <header>
        <div class="container">
            <a href="javascript:history.go(-1);" class="pre_icon"><img src="/Content/images/liu_06.png"></a>
            <div class="head_mid">
                @if (ViewBag.subTitle == null || string.IsNullOrEmpty(ViewBag.subTitle))
                {
                    <img src="/Content/images/liu_03.png">
                }
                else
                {
                    <p>@ViewBag.subTitle</p>
                }
            </div>
        </div>
    </header>
    <!-----------头部结束--------------->
    @RenderBody()
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("么么哒", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>

        <div class="container body-content">
                @RenderBody()
            <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - 么么哒</p>
                </footer>
        </div>*@
    <!--商品详细信息弹出层-->
    <div class="fixed shop-fixed" style="display:none;"></div>
    <div class="product_detail" style="display:none;">
        <a href="javascript:void(0)" class="close_detail"></a>
        <div class="product_picture"><img class="" src="/Content/images/f2.jpg"></div>
        <p class="product_name"><span>￥7.9</span><i>光明发酵乳</i></p>
        <div class="shop_intro">
            <div class="shop_name">商家：<span>光明便利店</span></div>
            <div class="weight">规格：<span>135g</span></div>
            <div class="activity">活动：<span>暂无</span></div>
            <div class="add_car shop-add-car">
                <div class="count_group">
                    <div class="count_odd"></div>
                    <span class="now_count" id="shop-car-goods-count">1</span>
                    <div class="count_add"></div>
                </div>
                <a href="javascript:void(0);" value="" class="button_add_car shop-button-add-car" id="btn-add-to-car">加入购物车</a>
            </div>
        </div>
        <div class="clearfix"></div>
        <p class="error-message" id="car-error-message"></p>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/common")
    @RenderSection("scripts", required: false)
</body>
</html>
